@import 'sass-rem';
.btn {
	border-radius: rem(9px);
	border: rem(1px) solid #4a526f;
	background: linear-gradient(180deg, #232634 0.01%, #212432 100%);
	box-shadow: 0px rem(-4px) rem(10px) 0px rgba(83, 91, 122, 0.15),
		0px rem(5px) rem(12px) 0px rgba(0, 0, 0, 0.25);
	color: #fff;
	line-height: 1;
	padding: rem(21px);
	max-width: rem(213px);
	width: 100%;
	text-align: left;
	position: relative;
	transition: 0.3s;
	img {
		transition: 0.3s;
		opacity: 0.3;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&:hover {
		border: 1px solid #818db9;
		background: linear-gradient(180deg, #3a4057 0.01%, #2a2e3d 100%);
		box-shadow: 0px -8px 20px 0px rgba(83, 91, 122, 0.15),
			0px 5px 12px 0px rgba(0, 0, 0, 0.25);
	}
}
