@import'sass-rem';

.modal {
  max-width: rem(600px);
  width: 100%;

  label {
    display: flex;
    align-items: center;
    font-size: rem(20px);
    margin-bottom: rem(4px);
    color: rgba(255, 255, 255, 0.70);
    height: rem(30px);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(36px);
    margin-bottom: rem(50px);

    @media(max-width:767.98px) {
      display: none;
    }
  }

  &__icon {
    width: rem(84px);
    height: rem(84px);
    flex: 0 0 rem(84px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-size: rem(30px);
    color: #fff;
  }

  &__exchange {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: rem(7px);
    color: rgba(255, 255, 255, 0.70);

    &>span {
      margin-bottom: rem(10px);
      display: inline-block;
    }

    & .item {
      &:last-child {
        label {
          text-align: right;
        }
      }
    }
  }

  &__btns {
    text-align: center;
    padding-top: rem(20px);
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(12px);
    border-radius: rem(9px);
    color: #FFF;
    font-size: rem(16px);
    min-width: rem(240px);
    margin: 0 auto;

    &::before {}
  }

  &__btnIcon {
    &::after {
      display: inline-block;
      background: url('../../../assets/images/svg/saved.svg') center/contain no-repeat;
      width: rem(14px);
      height: rem(14px);
      content: '';
    }
  }

  &__portfolio {
    padding-top: rem(4px);

  }

  &__portfolioItems {
    display: flex;
    flex-direction: column;
    gap: rem(10px);

  }
}

.item {

  font-size: rem(16px);
  line-height: normal;
  color: rgba(255, 255, 255, 0.70);




  &__input {
    color: rgba(255, 255, 255, 0.50);
    display: flex;
    position: relative;

    span {
      position: absolute;
      right: 0;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;

    }
  }

  input {
    min-width: rem(250px);
    flex: 1;
    color: #fff;
    padding: rem(10px 50px 10px 19px);
    font-family: Russo One;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15.5px);

    @media(max-width:767.98px) {
      min-width: auto;
      width: 100%;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.50);
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;

  }
}

.portfolio {
  border-radius: rem(10px);
  border: rem(1px) solid transparent;
  background: rgba(255, 255, 255, 0.10);
  color: rgba(255, 255, 255, 0.50);
  font-size: rem(16px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //height: rem(39px);
  padding: rem(10.5px 19px);
  align-items: center;
  line-height: 1;
  transition: .2s ease-out;

  &:hover,
  &__active {
    color: #fff;
    background: rgba(255, 255, 255, 0.30);
    border-color: #BEBEBE;
  }

  &__currency {
    text-align: left;
  }
}