@import 'sass-rem';

.team {
  margin-bottom: rem(87px);
  position: relative;

  @media(max-width:767.98px) {
    margin-bottom: rem(50px);
  }

  &__navs {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - rem(60px));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media(min-width:768px) {
      display: none;
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  gap: rem(30px);
  align-items: center;
  justify-content: center;
  text-align: center;

  @media(max-width:767.98px) {
    border-radius: 9px;
    background: rgba(217, 217, 217, 0.10);
    padding: rem(31px 23px);
  }

  &__img {
    display: inline-block;
    width: rem(183px);
    height: rem(183px);
    flex: 0 0 rem(183px);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #0047ff;
  }

  &__content {
    color: #b9b9b9;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: rem(10px);
  }

  &__icon {
    width: rem(44px);
    flex: 0 0 rem(44px);
    height: rem(44px);
  }
}