@import 'sass-rem';

.hero {
  padding: rem(114px 0 120px);
  min-height: rem(840px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media(max-width:767.98px) {
    padding-top: rem(86px);
    min-height: 600px;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: rem(15px 46px);

    @media(max-width:767.98px) {
      flex-direction: column-reverse;
    }
  }
}