@import 'sass-rem';

.modal {
  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(27px);
    height: rem(600px);
    overflow-y: auto;
    margin-right: rem(-10px);
    padding-right: rem(10px);

    @media(max-width:767.98px) {
      gap: rem(6px);
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.30);
      border-radius: 20px;
    }
  }
}

.wallet {
  display: flex;
  justify-content: space-between;
  gap: rem(10px);
  align-items: center;

  @media(max-width:767.98px) {
    border-radius: 9px;
    border: 1px solid rgba(95, 95, 95, 0.15);
    background: rgba(80, 80, 80, 0.05);
    padding: rem(10px 20px);
  }

  &__info,
  &__content {
    display: flex;

  }

  &__title {
    @media(max-width:767.98px) {
      font-size: rem(16px);
    }
  }

  &__content {
    align-items: center;
    gap: rem(18px);
  }

  &__info {
    flex-direction: column;
    align-items: flex-start;
    color: #FFF;
    line-height: normal;

    span {
      color: rgba(255, 255, 255, 0.50);
      font-size: rem(12px);

      @media(max-width:767.98px) {
        display: none;
      }
    }
  }

  &__icon {
    text-align: center;
    flex: 0 0 rem(52px);
  }

  &__add {
    color: #FFF;

    @media(max-width:767.98px) {
      display: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}