@import 'sass-rem';

.button {
  padding: rem(12px 35px);
  color: #c6c6c6;
  line-height: 150.5%;
  border-radius: rem(7px);
  //border: rem(1px) solid #4a526f;
  background: linear-gradient(180deg, #232634 0.01%, #212432 100%);
  box-shadow: 0 rem(-4px) rem(10px) 0 rgba(83, 91, 122, 0.15),
    0 rem(5px) rem(12px) 0 rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  line-height: 1;

  @media(max-width:767.98px) {
    padding: rem(12px);
  }

  &::before {
    content: "";
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #4a526f, #58585800);
    -webkit-mask:
      linear-gradient(green 0 0) content-box,
      linear-gradient(red 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    position: absolute;
    inset: 0;
    //z-index: -1;
  }

  &:hover {
    background: linear-gradient(180deg, #3B3547 0%, #4A4359 100%);
  }
}