@import 'sass-rem';

.title {
  text-align: center;
  font-size: rem(60px);
  font-weight: 600;
  font-family: 'Urbanist', sans-serif;
  color: #fff;
  margin-bottom: rem(80px);
  line-height: 1;

  @media(max-width:767.98px) {
    color: #DCDCDC;
    font-size: rem(30px);
    margin-bottom: rem(30px);
  }

  span {
    background: linear-gradient(92deg, #0085ff -48.95%, #9f02c7 95.49%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
}