@import 'sass-rem';
@import '../../../../assets/styles/helpers/mixins';

.invest {
  @include frame;

  &__inner {
    display: flex;

    @media(max-width:991.98px) {
      flex-direction: column;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    gap: rem(34px);
    margin-bottom: rem(8px);
  }

  &__title {
    color: #EDEDED;
  }

  &__id {
    color: rgba(255, 255, 255, 0.20);
    font-family: Russo One;
    font-size: rem(16px);
  }

  &__sum {
    color: #D9D9D9;
    font-size: rem(30px);
    line-height: 1;
    margin-bottom: rem(9px);

    span {
      font-size: rem(20px);
    }
  }

  &__left,
  &__right {
    padding: rem(20px);
  }

  &__left {
    flex: 1;

    @media(min-width:992px) {
      border-right: rem(2px) solid rgba(58, 58, 58, 0.20);
    }
  }

  &__right {
    flex: 0 0 rem(316px);
    display: flex;
    flex-direction: column;
    gap: rem(15px);
  }

  &__chart {
    height: rem(142px);

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: rem(16px);
  }

  &__line {
    background-color: transparent;
    height: rem(16px);
    border-radius: 16px;
    position: relative;
    padding: rem(4px);
    background-image: linear-gradient(to right, #0057FF, #BD00FF), linear-gradient(to right, #0057FF, #BD00FF);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;

    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      bottom: 0;
      width: 21px;
      border: 2px solid #0057FF;
      border-right: none;
      border-radius: 16px 0 0 16px;
    }

    &:after {
      border: 2px solid #BD00FF;
      border-left: none;
      left: auto;
      right: 0;
      border-radius: 0 16px 16px 0;
    }

    span {
      display: block;
      height: 100%;
      border-radius: 16px;
      background: linear-gradient(to right, #0057FF, #BD00FF);
    }
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #EDEDED;
  font-size: rem(16px);
  line-height: normal;

  &:nth-child(n + 3) {
    color: #fff;
  }
}