@import 'sass-rem';

.price {
  border-radius: 9px;
  border: 1px solid rgba(95, 95, 95, 0.15);
  background: rgba(128, 128, 128, 0.05);
  backdrop-filter: blur(11.5px);
  padding: rem(19px 19px 20px 15px);
  line-height: 1;

  &__head {
    min-height: rem(50px);
    margin-bottom: rem(15px);
  }

  &__item {
    color: rgba(255, 255, 255, 0.70);
    font-size: rem(16px);
  }

  &__total {
    color: #F8F8F8;
    font-size: rem(30px);
  }

  &__chart {
    img {
      width: 100%;
    }
  }
}