@import 'sass-rem';

.textBlock {
  color: #fff;
  padding: rem(74px 50px);
  min-height: rem(1016px);
  background-color: rgba(80, 80, 80, 0.05);
  border-radius: rem(9px);

  @media(max-width:767.98px) {
    padding: rem(18px);
    min-height: auto;
  }

  &__head {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(44px);

    @media(max-width:767.98px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 0;
    }

  }

  &__btn {
    position: absolute;
    left: 0;
    font-size: rem(16px);

    @media(max-width:767.98px) {
      position: static;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    color: #D9D9D9;
    line-height: 1.4;

    span {
      display: block;

      &:last-child {
        margin-bottom: rem(24px);
      }
    }

    ol {
      padding-left: rem(20px);
      margin-bottom: 2rem;
    }

    p {
      &:not(:last-child) {
        padding-top: 2rem;

        @media(max-width:767.98px) {
          padding-top: rem(10px);
          font-size: rem(16px);
        }
      }
    }
  }
}