@import 'sass-rem';

.modal {
  max-width: rem(428px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: rem(16px);
  }
}

.deposit {
  padding-top: rem(18px);
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Russo One;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: rem(10px);
}