@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600;700&family=Poppins:wght@600&family=Russo+One&family=Urbanist:wght@400;600;700;800&display=swap');
@import 'sass-rem';
/*
font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Urbanist', sans-serif;
*/

//html,
body {
  line-height: 1.75;
  font-size: $fontSize;
  font-family: $primaryFontFamily;
  background-color: #080610;
  font-weight: 400;

  @media(max-width:1920px) {
    //font-size: rem(16px);
  }

  @media(max-width:767.98px) {
    background: #080610;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 20px;
  }
}

body {
  height: 100%;

  >* {
    min-width: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;


}

.main {
  flex: 1;
}

.container {
  max-width: rem(1160px);
  margin: 0 auto;
  padding: 0 rem(15px);
}