@import 'sass-rem';

.main {
  &--home {
    @media(min-width:768px) {


      position: relative;
      background: url('../../images/decors/home/home.png') top center/auto no-repeat;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: rem(800px);
        content: '';
        background: url('../../images/decors/home/wave.png') center bottom/contain no-repeat;
      }

      &::before {
        position: absolute;
        top: 41%;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: rem(1300px);
        content: '';
        background: url('../../images/decors/home/lines.png') center/cover no-repeat;
      }
    }
  }

  &--news,
  &--contact {
    padding-top: rem(210px);
    position: relative;

    @media(max-width:767.98px) {
      padding-top: rem(141px);
    }

    &::after {
      position: absolute;
      content: '';
      width: 1954px;
      height: 1954px;
      border-radius: 50%;
      background: radial-gradient(49.2% 49.2% at 50% 50%,
          rgba(173, 0, 255, 0.14) 0%,
          rgba(173, 0, 255, 0) 100%);
      left: 65%;
      top: rem(-300px);
    }

    &::before {
      position: absolute;
      content: '';
      width: 1954px;
      height: 1954px;
      border-radius: 50%;
      background: radial-gradient(49.2% 49.2% at 50% 50%,
          rgba(0, 102, 255, 0.14) 0%,
          rgba(0, 102, 255, 0) 100%);
      right: 65%;
      top: rem(-300px);
    }
  }

  &--help {
    padding-top: rem(90px);

    @media(max-width:767.98px) {
      margin-bottom: 150px;
    }
  }

  &--investProfile {
    padding-top: rem(90px);
  }

  &--bounty {
    position: relative;

    @media(min-width:768px) {


      &::before,
      &::after {
        position: absolute;
        top: 100vh;
        content: '';
        width: 2240px;
        height: 2240px;
        border-radius: 50%;
        z-index: -1;
      }

      &::before {
        transform: translateX(-50%);

        left: 0;
        background: radial-gradient(49.2% 49.2% at 50% 50%, rgba(0, 102, 255, 0.14) 0%, rgba(0, 102, 255, 0.00) 100%);
      }

      &::after {
        transform: translateX(50%);
        right: 0;
        background: radial-gradient(49.2% 49.2% at 50% 50%, rgba(173, 0, 255, 0.14) 0%, rgba(173, 0, 255, 0.00) 100%);
      }
    }
  }

  &--about,
  &--investment {
    @media(min-width:768px) {
      background: url('../../images/decors/home/home.png') top center/auto no-repeat;
    }
  }



  &--profile {
    padding-top: rem(90px);
    margin-bottom: rem(50px);
    line-height: 1;
    position: relative;

    .container {
      position: relative;
      z-index: 1;
    }

    @media(min-width:768px) {

      &::before,
      &::after {
        position: absolute;

        content: '';
        width: 2327px;
        height: 2327px;
        border-radius: 50%;
        z-index: -1;
      }

      &::before {
        transform: translateX(-50%);
        top: rem(-756px);
        left: 0;
        background: radial-gradient(49.2% 49.2% at 50% 50%, rgba(0, 102, 255, 0.14) 0%, rgba(0, 102, 255, 0.00) 100%);
      }

      &::after {
        transform: translateX(50%);
        right: 0;
        top: rem(-270px);
        background: radial-gradient(49.2% 49.2% at 50% 50%, rgba(173, 0, 255, 0.14) 0%, rgba(173, 0, 255, 0.00) 100%);
      }
    }

    @media(max-width:767.98px) {
      margin-bottom: rem(150px);
    }
  }
}

.lockScreen,
.login {
  height: 100vh;
  position: relative;
  overflow: hidden;

  &::after,
  &::before {
    position: absolute;
    content: '';
    width: 2327px;
    height: 2327px;
    border-radius: 50%;

    @media(max-width:767.98px) {
      width: rem(473px);
      height: rem(473px);
    }
  }

  &::after {
    top: rem(-270px);
    transform: translateX(50%);
    right: 0;
    background: radial-gradient(49.2% 49.2% at 50% 50%, rgba(173, 0, 255, 0.14) 0%, rgba(173, 0, 255, 0.00) 100%);

    @media(max-width:767.98px) {
      top: auto;
      bottom: 0;
    }
  }

  &::before {
    transform: translateX(-50%);
    left: 0%;
    background: radial-gradient(49.2% 49.2% at 50% 50%, rgba(0, 102, 255, 0.14) 0%, rgba(0, 102, 255, 0.00) 100%);
    bottom: rem(-270px);

    @media(max-width:767.98px) {
      top: 0;
      bottom: auto;
    }
  }

  .container {
    height: 100%;
  }
}

.about {
  &__banner {
    align-items: flex-start;

    h2 {
      text-align: left;
      padding-left: rem(10px);
      font-weight: 400;
    }
  }
}

.lockScreen {
  &__title {
    color: #FFF;
    font-size: rem(30px);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: rem(17px);
    height: 100%;
    max-width: rem(330px);
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  &__inputs {
    display: flex;
    gap: rem(10px);
  }

  input {
    background-color: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15.5px);
    border-radius: rem(10px);
    width: 100%;
    color: #FFF;
    padding: rem(10px 18px);
    text-align: center;
    height: rem(43px);
  }

  &__btn {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(102deg, rgba(217, 217, 217, 0.25) 0%, rgba(217, 217, 217, 0.10) 0.01%, rgba(217, 217, 217, 0.05) 101.02%);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15.5px);
    color: #FFF;
    font-size: rem(16px);
    padding: rem(10px);
    width: 100%;
  }
}