@import 'sass-rem';

.security {
  @media(max-width:767.98px) {
    background: none !important;
    border: none !important;

    &::before {
      display: none !important;
    }
  }
}

.tab {
  min-height: rem(658px);
  display: flex;
  height: 100%;

  @media(max-width:767.98px) {
    flex-direction: column;
    min-height: rem(500px);
  }

  &__list {
    display: flex;
    gap: rem(10px);

    @media(min-width:768px) {
      background-color: rgba(217, 217, 217, 0.05);
      padding: rem(23px 34px);

      width: rem(274px);
      flex: 0 0 rem(274px);
      flex-direction: column;
    }

    @media(max-width:767.98px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: rem(10px);
    }
  }

  &__btn {
    cursor: pointer;
    outline: none;
    color: rgba(255, 255, 255, 0.80);
    transition: .2s;

    &:hover {
      color: #fff;
      transform: translateX(2px);
    }

    @media(max-width:767.98px) {
      font-size: rem(14px);
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: rem(25px);
      border-radius: 9px;
      border: 1px solid rgba(95, 95, 95, 0.15);
      background: rgba(80, 80, 80, 0.05);
    }
  }



  &__btnActive {
    color: #fff;
    font-weight: 600;

    @media(max-width:767.98px) {
      border-radius: 9px;
      border: 1px solid rgba(95, 95, 95, 0.15);
      background: rgba(80, 80, 80, 0.30);
      font-weight: 400;
    }
  }

  &__panel {
    flex: 1;
    padding-top: rem(27px);
    display: none;

    @media(max-width:767.98px) {
      border-radius: 9px;
      border: 1px solid rgba(95, 95, 95, 0.15);
      background: rgba(80, 80, 80, 0.05);
      padding: rem(9px 22px);
    }
  }

  &__panelSelected {
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.password,
.pin {
  color: rgba(255, 255, 255, 0.67);
  font-size: rem(16px);
  max-width: rem(330px);
  margin: 0 auto;

  &__title {
    margin-bottom: rem(26px);
    line-height: 1.75;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(13px);
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(10px);
  }

  label {
    height: rem(24px);
    display: block;
  }



  &__btn {
    border-radius: 10px;
    color: #FFF;
    padding: rem(12px);
    height: rem(44px);

    &::before {
      border-radius: rem(10px);
    }
  }
}

.password,
.generateCode__inputs,
.pin__inputs {
  input {
    background-color: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15.5px);
    border-radius: rem(10px);
    width: 100%;
    color: #FFF;
    padding: rem(10px 18px);
    text-align: center;
    height: rem(37px);
  }
}

.stepTwo {
  &__inner {
    max-width: rem(338px);
    margin: 0 auto;
  }
}

.generateCode {
  &__text {
    color: #E3E3E3;
    text-align: center;
    font-size: rem(16px);
    margin-bottom: rem(28px);
  }

  &__inputs {
    display: flex;
    align-items: center;
    gap: rem(10px);
    margin-bottom: rem(8px);
  }
}

.password {
  &__itemHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(8px);
  }

  label {
    height: auto;
  }

  input {
    text-align: left;

  }

  &__generate {
    color: rgba(255, 255, 255, 0.67);
    text-align: right;
    font-size: rem(14px);
    text-decoration-line: underline;
    transition: color .2s ease-in-out;

    &:hover {
      color: #fff;
    }
  }
}

.fa {
  padding: rem(36px 89px);
  font-size: rem(16px);
  color: #fff;

  @media(max-width:767.98px) {
    padding: 0;
  }

  &__bottom {
    text-align: center;
  }

  &__apps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8px);
    margin-bottom: rem(47px);
  }

  &__row {
    display: flex;
    gap: rem(19px);

    @media(max-width:767.98px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    line-height: 1.4;
    margin-bottom: rem(30px);

    p:not(:last-child) {
      margin-bottom: rem(30px);
    }
  }

  &__next {
    border-radius: 10px;
    background: linear-gradient(92deg, rgba(0, 87, 255, 0.50) 0%, rgba(250, 0, 255, 0.50) 100%);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15.5px);
    padding: rem(7.5px);
    width: rem(195px);
    text-align: center;
  }

  &__btnEnd {
    width: 100%;
  }
}

.qr {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: rem(11px);

  &__icon {
    width: rem(219px);
    height: rem(219px);
    border-radius: rem(7px);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  &__code {
    display: flex;
    align-items: center;
    gap: rem(9px);

    text-transform: uppercase;
  }

  &__btn {
    border-radius: rem(7px);
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(102deg, rgba(217, 217, 217, 0.25) 0%, rgba(217, 217, 217, 0.10) 0.01%, rgba(217, 217, 217, 0.05) 101.02%);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15.5px);
    display: flex;
    align-items: center;
    font-size: 0;
    line-height: 0;
    width: rem(35px);
    height: rem(23px);
    justify-content: center;
    background: url('../../../assets/images/copy.png') center/rem(14px) no-repeat;
  }
}

.app {
  border-radius: 10px;
  background: linear-gradient(102deg, rgba(217, 217, 217, 0.25) 0%, rgba(217, 217, 217, 0.10) 0.01%, rgba(217, 217, 217, 0.05) 101.02%);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(15.5px);
  padding: rem(10px);
  width: rem(155px);
  text-align: center;
  line-height: 125%;
  transform: scale(1);
  transition: transform .2s ease-in-out;

  span {
    color: #838383;
    display: block;
  }

  &:hover {

    transform: scale(1.05);
  }
}

.stepTwo {
  &__bottom {
    text-align: center;
    padding-top: rem(65px);
  }

  &__back {
    padding: rem(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(102deg, rgba(217, 217, 217, 0.25) 0%, rgba(217, 217, 217, 0.10) 0.01%, rgba(217, 217, 217, 0.05) 101.02%);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15.5px);
    width: rem(124px);
  }

  display: none;

  &.showNextStep {
    display: block;
  }
}

.identity__btn {
  border-radius: rem(16px);
  padding: rem(10px);
  color: #FFF;
  font-size: rem(16px);
  width: rem(145px);
  height: rem(36px);
  margin-bottom: rem(4px);

  @media(max-width:767.98px) {
    width: 100%;
    max-width: rem(195px);
    margin: 0 auto;
    border-radius: rem(9px);
  }

  &::before {
    border-radius: inherit;
  }
}